
header {
    background-color: #fff;
    width: 100%;
    top:0;
    position: fixed;
   font-size: 14px;
   color: #000;
}
.container {
    display: flex;
    justify-content: space-between;    
    padding: 0.2rem;
    color: #1e2329;
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #554691;
}
.nav-r{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}
.nav-r a{
    padding: 1rem;
}
.nav-l{
    display: flex;
    align-items: center;
}
.nav-l a{
    padding: 1rem;
}
nav a.signup{ 
    background-color:#2f2597;
    color: #fff;
    border-radius: 5%;
    padding: 0.4rem;
}

.nav-l a img{
    margin-top: 5px;
    width: 100px;
}
.nav-r .span{
    margin-left: 1rem;
}
.nav-r .span:hover{
    color:#695d97;
}

