<!-- Header  -->
    <header>
        <nav class="container">
            <div class="nav-l">
                <a href="#">
                    <img src="../../assets/logo-header.png"/>
                </a>
                <a href="#">Зах Зээл</a>
                <a href="#">Арилжаа</a>
            </div>
            <div class="nav-r">
                <a href="#">Нэвтрэх</a>
                <a class="signup" href="#">Бүртгүүлэх</a>
                <div class="span">
                    <span>Mongolian</span>
                </div>
                &nbsp; | &nbsp; 
                <div>
                    <span>MNT</span>
                </div>
            </div>
        </nav>
    </header>




