
<div class="container">
    <div>
    <div class="container1">
    <img src="../../assets/logo-footer1.png"/>
    <div>   
<div>
    <ul>
        <span>Бидний тухай</span>
       <li> <a href="#">X-META тухай</a></li>
       <li> <a href="#">Үйлчилгээний нөхцөл</a></li>
       <li> <a href="#">Нууцлалын журам</a></li>
       <li> <a href="#">Урамшуулал</a></li>
       <li> <a href="#">IHC койн</a></li>
    </ul>
</div>
<div>
    <ul>
        <span>Үйлчилгээ</span>
        <li> <a href="#">Арилжаа</a></li>
        <li> <a href="#">Хослол</a></li>
    </ul>
</div>
<div>
  
    <ul>
        <span>Тусламж</span>
        <li> <a href="#">FAQ</a></li>
        <li> <a href="#">Тусламж</a></li>
        <li> <a href="#">Шимтгэл</a></li>
    </ul>
</div>
<div>
    <ul>
        <span>Комюнити</span>
        <li> <a href="#">telegram</a></li>
        <li> <a href="#">facebook</a></li>
        <li> <a href="#">twitter</a></li>
        <li> <a href="#">instagram</a></li>
    </ul>
</div>


    

