
.container {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
.container1 {
  padding: 2rem 5rem;
  background: #fff;
  box-shadow: 0 0 40px rgb(0 0 0 / 8%);
  border-radius: 60px 60px 0 0;
}
.box {
  display: flex;
  justify-content: center;
  padding: 40px;
}
h1 {
  text-align: center;
  margin-top: 2rem;
}
.list-header {
  display: flex;
  color: #848e9c;
  margin-left: 5rem;
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.btn {
  align-items: center;
  padding: 4px 20px;
  background-color: #848e9c;
  text-align: center;
  color: #fff;
}
.pair {
  flex: 2;
}
.s_hansh {
  flex: 1;
}
.changes {
  flex: 1;
}
.markets {
  flex: 1;
}
.limitTextHeight{
  display: none;
}
