<app-header></app-header>
<app-banner></app-banner>

<div layout="row">
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let imgPath of imgPaths">
      <app-card [imgPath]="imgPath"></app-card>
    </ng-template>
  </swiper>
</div>

<div class="container">
  <div *ngFor="let imgPath of imgPaths">
    <app-card [imgPath]="imgPath"></app-card>
  </div>
</div>

<div class="container1">
  <div class="list-header">
    <span class="pair">Хослол</span>
    <span class="s_hansh">Сүүлийн ханш</span>
    <span class="changes">24Ц өөрчлөлт</span>
    <span class="markets">Зах Зээл</span>
  </div>
  <div
    [ngClass]="{ limitTextHeight: isViewMore }"
    *ngFor="let listItem of list"
  >
    <app-list [listItem]="listItem"></app-list>
  </div>

  <button (click)="(showList)" class="btn" type="button">
    {{ isViewMore ? "Цааш үзэх" : "Хураах" }}
  </button>
</div>

<h1>{{ title }}</h1>
<div class="box">
  <div *ngFor="let box of boxes">
    <app-section [box]="box"></app-section>
  </div>
</div>

<app-footer></app-footer>
