
    <div class="list">
        <div class="coin-des">
             <div>
                 <img src="{{listItem.iconPath}}"/>
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="span1">
                 <span>{{listItem.shortName}}</span>
                 &nbsp;
                 <span class="span2">{{listItem.name}}</span>
            </div>
        </div>
        <div class="price">
            <span>{{listItem.last_price}}</span>
        </div>

        <div class="change">
            <span class="haha" >{{listItem.change}}</span>
        </div>

        <div class="market">
            <span >{{listItem.markets}}</span>
        </div>
        
    </div>


